<div class="header">
	<a href="/" id="home">Home</a>
	<%if logged_in?%>
		<a href="/logout">Logout</a>
		<a href="/profile">Profile</a>
		<a href="/<%=current_user.id%>/user_answer">My Answers</a>
		<a href="/<%=current_user.id%>/user_question">My Questions</a>
	<%else%>
		<a href="/login">Login</a>
	<%end%>
<!-- list all questions -->
</div>
<div class="user_answer_page">
	<%current_user.answers.each do |ans|%>
		<h3><%=ans.text%></h3>
		<%if current_user.upvoted_answer?(ans)%>
			<a href="/aupvote/<%=ans.id%>" id ="avote">Voted</a><%=ans.answervotes.where(vote_type: true).count%>
		<%else%>
			<a href="/aupvote/<%=ans.id%>" id ="avote">Vote</a><%=ans.answervotes.where(vote_type: true).count%>
		<%end%>
		<%if current_user.downvoted_answer?(ans)%>
			<a href="/adownvote/<%=ans.id%>" id ="adownvote">Downvoted</a><%=ans.answervotes.where(vote_type: false).count%><br>
		<%else%>
			<a href="/adownvote/<%=ans.id%>" id ="adownvote">Downvote</a><%=ans.answervotes.where(vote_type: false).count%><br>
		<%end%>
		Replied on <%=ans.created_at%> to<br>
		<a href="/question/<%=ans.question.id%>"><%=ans.question.text%></a><br>
	<%end%>
</div>